:root {
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 0, 0, 1);
    --black-transparent-04: rgba(0, 0, 0, 0.4);
    --white-transparent: rgba(255, 255, 255, 0.2);
    --red: rgba(255, 0, 0, 1);
    --black-transparent-025: rgba(0, 0, 0, 0.25);
    --red-03: rgba(255, 0, 0, 0.3);
    --white-016: rgba(255, 255, 255, 0.16);
    --gray: rgba(106, 106, 106, 1);
    --gray-dark: rgba(40, 39, 44, 1);
    --gray-light: rgba(178, 178, 178, 1);
    --gray-lighter: rgba(209, 209, 209, 1);
    --font-color: rgba(255,255,255,1);
}
body {
    font-family: "Nunito Sans", sans-serif;
}
.container {
    width: 1088px;
    margin: 0 auto;
    position: relative;
}
.god {
    height: calc(100vh - 31px);
    background-image: url(../images/Image.png);
    background-size: cover;
    position: relative;
}
.god::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: var(--black-transparent-025);
    position: absolute;
}
.page-header {
    height: 90px;
    background-color: var(--black-transparent-04);
    border-bottom: 2px solid var(--white-transparent);
}
.banner {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--font-color);
    text-transform: uppercase;
    position: relative;
}
.logo {
    display: inline-block;
    font-size: 35px;
    font-weight: 800;
}
.logo::before {
    content: url(../icons/Icon.svg);
    width: 31px;
    height: 35px;
}
.logo span > span {
    color: var(--red);
    font-size: 35px;
}
.menu-txt {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    padding: 40px;
}
.menu-txt a {
    text-decoration: none;
    color: var(--font-color);
}
.menu-txt:hover {
    background-color: var(--white-transparent);
}
.header-content {
    height: calc(100vh - 90px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: absolute;
}
.header-title {
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--font-color);
}
.header-txt {
    font-size: 16px;
    font-weight: 700;
    color: var(--font-color);
    text-align: center;
}
.header-btn {
    display: flex;
    gap: 25px;
    justify-content: center;
}
.left-btn,
.right-btn {
    padding: 22px 55px;
    border-radius: 40px;
    border: none;
}
.left-btn a,
.right-btn a {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}
.left-btn a {
    color: var(--font-color);
}
.left-btn {
    background-color: var(--red);
}
.right-btn a {
    color: var(--red);
}
.right-btn {
    background-color: var(--white);
}
.arrow-icon {
    background-color: var(--red);
    border-radius: 50%;
    height: 55px;
    width: 55px;
    position: absolute;
    bottom: -27px;
    left: calc(100% / 2 - 27px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-title {
    font-size: 35px;
    color: var(--black);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px auto 10px auto;
}
.blog-title::before,
.blog-title::after {
    content: "";
    width: 50px;
    height: 3px;
    background-color: var(--red);
    margin: 0 10px;
}
.blog-box  {
    display: flex;
    gap: 16px;
}
.blog-txt-box {
    width: 33%;
    gap: 15px;
    display: flex;
    flex-direction: column;
}
.blog-img {
    width: 100%;
    margin: 10px auto;
}
.article-title {
    font-size: 19px;
    font-weight: 400;
    color: var(--gray);
    text-transform: uppercase;
    text-align: left;
}
.blog-txt {
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: var(--gray);
}
.blog-btn {
    border: none;
    padding: 0;
    width: 142px;
    height: 40px;
    background-color: var(--red);
    border-radius: 40px;
    outline-color: transparent;
    box-shadow: 0 3px 6px var(--red-03);
}
.blog-btn a {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--font-color);
}
